{% extends "base.html" %}
{% load static %}

{% block title %}
About Page
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock extrahead %}

{% block content %}
<h2 class="mb-4 text-shadow">About Me</h2>

<div>
    <p>
        I'm Tommy Moua, an alum of Metropolitan State University in MN, USA, having graduated with a Bachelor of Science in Computer Science.
    </p>
</div>

<div>
    <a href="{% static 'documents/Resume - Tommy Moua (Revised 8_25_24).pdf' %}" download>
        My resume is available here.
    </a>
</div>

<br>

<div class="d-flex gap-3">
    <a href="https://www.linkedin.com/in/tommy-moua-5899b4141/" 
    target="_blank" 
    class="btn btn-outline-secondary p-2">
        <img src="{% static 'images/LinkedIn-Logos/LI-In-Bug.png' %}" alt="LinkedIn Profile" class="img-fluid" style="width: 35px; height: 30px;">
    </a>
    <a href="https://github.com/tmoua96" 
    target="_blank" 
    class="btn btn-outline-secondary p-2">
        <img src="{% static 'images/Github-Logos/github-mark.png' %}" alt="GitHub Profile" class="img-fluid" style="width: 30px; height: 30px;">
    </a>
    <a href="https://store.steampowered.com/search/?developer=Team%20Attack%20Games" 
    target="_blank" 
    class="btn btn-outline-secondary p-2">
        <img src="{% static 'images/steam_logo - copy.png' %}" alt="Steam Profile" class="img-fluid" style="width: 30px; height: 30px;">
    </a>
    <a href="https://tmoua.itch.io/" 
    target="_blank" 
    class="btn btn-outline-secondary p-2">
        <img src="{% static 'images/ItchIO-Logos/itchio-logo-textless-black.png' %}" alt="ItchIO Profile" class="img-fluid" style="width: 30px; height: 30px;">
    </a>
</div>
{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}