{% extends "base.html" %}
{% load static %}

{% block title %}
Home Page
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extrahead %}

{% block content %}
<h1>Welcome!</h1>
<br>
<h4>
    I'm Tommy Moua
</h4>
<p>
    An aspiring programmer with a strong foundation in C# and Unity looking to enter the software 
    industry. Experienced working on a small independent team developing a project from concept to 
    completion with a released game for Windows on the Steam platform. Eager to improve and 
    expand my knowledge and skills in new technologies. 
</p>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock extra_js %}