<div class="d-flex justify-content-center fs-2 gap-4">
    <a class="text-gradient profile-link" target="_blank" alt="LinkedIn"
        href="https://www.linkedin.com/in/tommy-moua-5899b4141/">
        <i class="bi bi-linkedin"></i>
    </a>
    <a class="text-gradient profile-link" target="_blank" alt="GitHub"
        href="https://github.com/tmoua96">
        <i class="bi bi-github"></i>
    </a>
    <a class="text-gradient profile-link" target="_blank" alt="Steam"
        href="https://store.steampowered.com/search/?developer=Team%20Attack%20Games">
        <i class="bi bi-steam"></i>
    </a>
    <a class="text-gradient profile-link" target="_blank" alt="Itch.Io"
        href="https://tmoua.itch.io/">
        <i class="fa-brands fa-itch-io"></i>
    </a>
</div>